<ion-header>
  <ion-navbar style="color:white">
     <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;"  (click)="OnOpenMenu();">
       <ion-icon class="iconsize" name="menu" style="color:white"></ion-icon>
          </button>
    </ion-buttons>
    <ion-title><p style="color:white;text-align:center">More Links</p></ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-bounce>
  <div>
  
    <ion-item (click)="order();">
    <ion-avatar item-start>
    <img src="img/order.png">
    </ion-avatar>
    <h2>Last Order</h2>
    </ion-item>

    <ion-item (click)="pass();">
    <ion-avatar item-start>
    <img src="img/password.png">
    </ion-avatar>
    <h2>Change Password</h2>
    </ion-item>

    <ion-item (click)="pro();">
    <ion-avatar item-start>
    <img src="img/settings.png">
    </ion-avatar>
    <h2>Profile Settings</h2>
    </ion-item>

    <ion-item (click)="find();">
    <ion-avatar item-start>
    <img src="img/find.png">
    </ion-avatar>
    <h2>Find Us</h2>
    </ion-item>

    <ion-item (click)="terms();">
    <ion-avatar item-start>
    <img src="img/terms.png">
    </ion-avatar>
    <h2>Terms & Conditions</h2>
    </ion-item>

    <ion-item (click)="app();">
    <ion-avatar item-start>
    <img src="img/logout.png">
    </ion-avatar>
    <h2>About App</h2>
    </ion-item>


    
  </div>

</ion-content>
