<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Favourite" tabIcon="ios-star"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Offers" tabIcon="ios-pricetag"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="My Cart" tabIcon="ios-cart"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="More" tabIcon="ios-more"></ion-tab>
</ion-tabs>
