<ion-header>
  <ion-navbar>
    <ion-title><p style="color:white;text-align:center">forget Password</p></ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="has-header">

  <p style="color:white;text-align:center">Type your E-mail, You will soon recieve your password on your E-mail Address</p>
   <ion-item style="background: transparent;" [(ngModel)]="email">
    <ion-label class="try" placeholder="Type your Email:" style="text-align:center" floating >Email</ion-label>
    <ion-input type="text" style="color:white"></ion-input>
  </ion-item>

  <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center">
        <button ion-button block color="fanger" style="border-radius: 13px 13px;width: 75%;" (click)="forgot();">Send Request</button>
    </div>

</ion-content>
