<ion-header>
  <ion-navbar hideBackButton>
     <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;"  (click)="OnOpenMenu();">
       <ion-icon class="iconsize" name="menu" style="color:white"></ion-icon>
          </button>
    </ion-buttons>
    <ion-title><p style="color:white;text-align:center">My Cart</p></ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-bounce>

  <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">

    <p>DELIVERY</p>
    <ion-item class="item-ios">
      <ion-label>
        <ion-icon class="iconsize" name="ios-calendar-outline"></ion-icon>
      </ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month" style="margin-right: 37%"></ion-datetime>
    </ion-item>


    <ion-item class="item-ios">
      <ion-label>
        <ion-icon class="iconsize" name="ios-time-outline"></ion-icon>
      </ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts" style="margin-right: 43%"></ion-datetime>
    </ion-item>

    <ion-item class="item-ios">
      <ion-label>
        <ion-icon class="iconsize" name="ios-home-outline"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="Delivery Address(Optional)" style="color:black;text-align: start;"></ion-input>
    </ion-item>


    <p>YOUR ITEMS</p>

  
   <ion-item>
    <ion-avatar item-start>
      <img src= "img/profile.png"/>
    </ion-avatar>
    <h2>{{ item_des }}<p>${{ Sub_Catergory_ID }}</p></h2>
  </ion-item>
  
 
  

   

  <div style="margin-top: 7%;">
    <p>SPECIAL REQUEST</p>
  <ion-item class="item-ios">
      <ion-label>
        <ion-icon class="iconsize" name="ios-pricetags-outline"></ion-icon>
      </ion-label>
      <ion-input class="try1" type="text" placeholder="Cleaning Instructions(optional)" style="color:black;text-align: start;"></ion-input>
    </ion-item>
  </div>

  <div>
    <p>CHECKOUT</p>
  <ion-item class="item-ios">
      <ion-input class="try1" type="text" placeholder="Enter Voucher code" style="color:black;text-align: start;"></ion-input>
    </ion-item>
  </div>

  <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center">
        <button ion-button block color="fanger" style="border-radius: 13px 13px;width: 75%;color:white">Place Order</button>
    </div>



