<ion-header>
  <ion-navbar>
    <ion-title><p style="color:white">Terms & Conditions</p></ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-bounce>
<div align="center">
  <p>Context goes here,Context goes here,Context goes here,Context goes here,Context goes here,Context goes here,Context goes here,Context goes here,Context goes here,Context goes here,Context goes here,Context goes here,Context goes here.</p>
</div>
</ion-content>
