<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;" (click)="OnOpenMenu();">
       <ion-icon class="iconsize" name="menu" style="color:white"></ion-icon>
          </button>
    </ion-buttons>
    <ion-title>
      <p style="color:white">Your Account</p>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-bounce>

  <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">

    <ion-item class="item-ios">
      <ion-label>
        <ion-icon class="iconsize" name="ios-person"></ion-icon>
      </ion-label>
      <ion-input class="try1" type="text" placeholder="Name" style="color:black;text-align: start;"></ion-input>
    </ion-item>


    <ion-item class="item-ios">
      <ion-label>
        <ion-icon class="iconsize" name="ios-mail"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="Email Address" style="color:black;text-align: start;"></ion-input>
    </ion-item>

    <ion-item class="item-ios">
      <ion-label>
        <ion-icon class="iconsize" name="ios-phone-portrait"></ion-icon>
      </ion-label>
      <ion-input type="number" placeholder="Mobile Number" style="color:black;text-align: start;"></ion-input>
    </ion-item>

    <ion-item class="item-ios">
      <ion-label>
        <ion-icon class="iconsize" name="ios-calendar"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="Date of Birth" style="color:black;text-align: start;"></ion-input>
    </ion-item>

    <ion-item class="item-ios">
      <ion-label>
        <ion-icon class="iconsize" name="ios-transgender"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="Gender" style="color:black;text-align: start;"></ion-input>
    </ion-item>

    <ion-item class="item-ios">
      <ion-label>
        <ion-icon class="iconsize" name="ios-card"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="Card Number" style="color:black;text-align: start;"></ion-input>
    </ion-item>

    <ion-item class="item-ios">
      <ion-label>
      </ion-label>
      <ion-input type="text" placeholder="&nbsp;&nbsp; MM/YY &nbsp;&nbsp;&nbsp; CVC &nbsp;&nbsp;&nbsp; Postcode" style="color:black;text-align: start;"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><p>I want to recieve Exclusive Laundrapp news.</p></ion-label>
      <ion-checkbox color="secondary" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label><p>I accept the Laundrapp Terms & Conditions</p></ion-label>
      <ion-checkbox color="secondary" ></ion-checkbox>
    </ion-item>
      </div>

    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center">
        <button ion-button block color="luke" style="border-radius: 13px 13px;width: 75%;color:white">CONTINUE</button>
    </div>


</ion-content>