.item-ios {
    width: 100%;
    height: 51px;
    padding-left: 16px;
    position: relative;
    font-size: 1.7rem;
    background-color: transparent;
    border-radius: 6px;
}

 .iconsize{
    font-size: 2em;
    color:orangered;
 }

.try1 {
    color: black;
}
