<ion-header>
  <ion-navbar>
     <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;"  (click)="OnOpenMenu();">
       <ion-icon class="iconsize" name="menu" style="color:white"></ion-icon>
          </button>
    </ion-buttons>
    <ion-title>
      <p style="color:white">Orders</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div align="center">
    <img src="img/icon.png" />
  </div>

  <div align="center">
    <h5>You haven't placed any orders yet</h5>
    <p>Come back here to track the status of your order, follow your Wash to go agent, and access your order history.</p>
  </div>
</ion-content>