.toolbar-background {
    position:fixed;
    background:#32b4e5;
}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    margin-top: -9%;
    text-align:left;
    font-size: 2.0em;
    width: 100%;
    font-weight: initial;
    color: white;
    margin-left: 3%;
  }

  .card-title2 {
    margin-top: -9%;
    text-align:right;
    font-size: 2.0em;
    width: 100%;
    font-weight: initial;
    color: white;
    margin-left: -1%;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}

  .myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #32b4e5;
    margin-top:20px;
}
  .searchbar-ios {
    padding: 0 8px;
    min-height: 44px;
    border-top: transparent;
    border-bottom:#32b4e5;
    background: #32b4e5;
}
.container {
   // width: 30em;
    overflow-x: auto;
    white-space: nowrap;
    background: #32b4e5;
}
  .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-color: transparent;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    /* width: 100%; */
    height: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    content: "";
}
