<ion-header>
  <ion-navbar hidebackbutton>
    <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;" (click)="OnOpenMenu();">
       <ion-icon class="iconsize" name="menu" style="color:white"></ion-icon>
          </button>
    </ion-buttons>
    <ion-buttons end>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;" (click)="showhide()">
       <ion-icon class="iconsize" name="ios-search" style="color:white"></ion-icon>
          </button>
    </ion-buttons>
    <ion-title>
      <p style="color:white;text-align:center;border-bottom:transparent;"><b>Wash To Go</b></p>
    </ion-title>
  </ion-navbar>
  <div class="container" align="center">
    <img src="img/up2.png" style="width: 14%;" (click)="nav1();" />
    <img src="img/up1.png" style="width: 14%;" (click)="nav2();" />
    <img src="img/up4.png" style="width: 14%;" (click)="nav3();" />
    <img src="img/up3.png" style="width: 14%;" (click)="nav4();" />
    <img src="img/up5.png" style="width: 14%;" (click)="nav5();" />
    <img src="img/UP6.png" style="width: 14%;" (click)="nav6();" />
    <img src="img/up7.png" style="width: 14%;" (click)="nav7();" />
    <img src="img/UP8.png" style="width: 14%;" (click)="nav8();" />
  </div>
</ion-header>


<ion-content class="card-background-page" no-bounce>

  <div id="newpost" style="display: none;background-color:#32b4e5">
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </div>

  <ion-list>
    <ion-card *ngFor="let post of posts">
      <a (click)="opencard(post.Sub_Catergory_ID, post.Sub_Category_Image, post.Sub_Category_Description, post.Sub_Category_Name)">
    <img src="{{post.Sub_Category_Image}}"/></a>
      <div class="card-title">{{post.Sub_Category_Name}}</div>
      <div class="card-title2">${{post.Starting_Price}}</div>
    </ion-card>
  </ion-list>

</ion-content>