<ion-content no-bounce class="has-header">

<div align="center">
  <img src="img/logo.png" style="width: 76%;margin-top:5%"/>
</div>


    
<div align="center">
   <div style="margin-top: 20%;width:85%;">
    <ion-list>

  <ion-item style="display:none">
        <ion-input type="text" class="try" placeholder="Username"></ion-input>
 </ion-item>

  <ion-item style="background: transparent;" [(ngModel)]="email">
    <ion-label class="try" placeholder="Email" floating >Email</ion-label>
    <ion-input type="text" style="color:white"></ion-input>
  </ion-item>

    <ion-item style="background: transparent;" [(ngModel)]="password">
    <ion-label class="try" placeholder="password"  floating  >Password</ion-label>
    <ion-input type="password" style="color:white"></ion-input>
  </ion-item> 

  <ion-item style="display:none;">
        <ion-input type="password" class="text-input" placeholder="Confirm Password"></ion-input>
  </ion-item>

</ion-list>       
    </div>
</div>


    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center" (click)="signIn();">
        <button ion-button block color="fanger" style="border-radius: 13px 13px;width: 75%;" >LOGIN</button>
    </div>
    
    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center" (click)="signup();">
        <button ion-button block color="fanger" style="border-radius: 13px 13px;width: 75%;">REGISTER</button>
    </div>

     <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" (click)="forgot();">
        <h5 style="text-align:center" class="try">Forgot Password ?</h5>
    </div>
</ion-content>
