<ion-menu side="left" type="overlay" [content]="nav" no-bounce>

  <ion-content class="has-header" no-bounce>
    <div align="center" style="margin-top:11%;">
    <img src="img/profile.png" style="width:36%;" />
    <h4 style="color:white">Josh</h4>
    <!--h4 style="color:white" *ngIf="userData">{{userData.name}}</h4-->
    </div>
       <ion-list no-lines style="margin-top: 16%;">
       <ion-item class="listTransparent"  style="color:white;background:transparent;display: none;">
        <ion-icon name="ios-albums" item-start></ion-icon>
         Lectures
      </ion-item>

       <ion-item class="listTransparent" (click)="OnLoad(profile)" style="color:white;background:transparent;">
        <ion-icon name="ios-person-outline" item-start></ion-icon>
         PROFILE
      </ion-item>

         <ion-item class="listTransparent" (click)="OnLoad(order)" style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="ios-mail-open-outline" item-start></ion-icon>
         ORDER HISTORY
      </ion-item>

 <ion-item class="listTransparent" (click)="OnLoad(home)" style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="ios-people-outline" item-start></ion-icon>
        MY PREFERENCES
      </ion-item>
 <ion-item class="listTransparent"  style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="ios-image-outline" item-start></ion-icon>
        FEE CLEANS
      </ion-item>
      <ion-item class="listTransparent"  style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="ios-navigate-outline" item-start></ion-icon>
        LOCATION
      </ion-item>
     <ion-item class="listTransparent"  style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="ios-paper-outline" item-start></ion-icon>
        INVITE FRIEND
      </ion-item>
     <ion-item class="listTransparent" (click)="OnLoad(signin)" style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="settings" item-start></ion-icon>
        SETTINGS
      </ion-item>
     <ion-item class="listTransparent" (click)="OnLoad(signin)" style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="ios-ribbon-outline" item-start></ion-icon>
        RATE THE APP
      </ion-item>
      <ion-item class="listTransparent" (click)="OnLoad(signin)" style="color:white;background:transparent;border-bottom:1px;">
        <ion-icon name="exit" item-start></ion-icon>
        Logout </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #nav ></ion-nav>
