<ion-header>

  <ion-navbar>
     <ion-buttons left>
      <!-- End will pusg it to right / left will move it to left -->
      <button ion-button style="background:transparent;"  (click)="OnOpenMenu();">
       <ion-icon class="iconsize" name="menu" style="color:white"></ion-icon>
          </button>
    </ion-buttons>
    <ion-title><p style="color:white">Find</p></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
