<ion-header>
  <ion-navbar style="color:white">
    <ion-title><p style="color:white;text-align:center;">{{ id_name }}</p></ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-bounce>
  <div align="center" style=" margin-top: -3%;">
    <img src="{{ image_id }}"/>
  </div>
 
  <div align="center">
    <p>{{ id_description }}</p>
  </div>

  
    <p style="margin-left: 5%;margin-top: 8%;font-size: large;">{{ id_name }}</p>
    
    <ion-list style="margin-top: -4%;">
    <ion-item *ngFor="let post of posts">
    <ion-avatar item-start>
          
    <a (click)="nextcard(post.Sub_Catergory_ID,post.id_name, post.Item_Name, post.Item_Description, post.Item_Price)">
    <img src="img/plus.png" /> </a>
    </ion-avatar>
    <h2>{{ post.Item_Name }}</h2>
    <p>{{ post.Item_Description }}</p>
    <p style="float:right;margin-top: -9%;">${{ post.Item_Price }}</p>
  </ion-item>
</ion-list>
  


</ion-content>
