.has-header{
    background-image: url('../img/bg.png');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.try{
    color:white;
}
