
<ion-content padding class="has-header" no-bounce>

  <div>
    <h2 style="color:white;text-align:center">WE ARE WAITING</h2>
    <p style="color:white;text-align:center">Please fill the information</p>
  </div>

  <div align="center">
    <img src="img/imgae.png" style="width: 35%;"/>
    <p style="color:white;margin-top: -5%;">Upload your picture</p>
  </div>

     <div style="margin-top: 5%;">
    <ion-list>

  <ion-item style="display:none">
        <ion-input type="text" class="try" placeholder="Username"></ion-input>
 </ion-item>

  <ion-item style="background: transparent;" [(ngModel)]="name">
    <ion-label class="try" placeholder="Name" style="color: white;" floating>Name</ion-label>
    <ion-input type="text" style="color:white"></ion-input>
  </ion-item>

    <ion-item style="background: transparent;" [(ngModel)]="email">
    <ion-label class="try" placeholder="Email" style="color: white;" floating>E-mail</ion-label>
    <ion-input type="text" style="color:white"></ion-input>
  </ion-item> 

   <ion-item style="background: transparent;" [(ngModel)]="password">
    <ion-label class="try" placeholder="Password" style="color: white;" floating>Password</ion-label>
    <ion-input type="password" style="color:white"></ion-input>
  </ion-item> 

   <ion-item style="background: transparent;" [(ngModel)]="conpassword">
    <ion-label class="try" placeholder="Confirm Password" style="color: white;" floating>Confirm Password</ion-label>
    <ion-input type="password" style="color:white"></ion-input>
  </ion-item> 
 
  <ion-item style="background: transparent;" [(ngModel)]="contact">
    <ion-label class="try" placeholder="Contact Number" style="color: white;" floating>Contact Number</ion-label>
    <ion-input type="number" style="color:white"></ion-input>
  </ion-item>

   
  <ion-item style="background: transparent;" [(ngModel)]="delivery_address">
    <ion-label class="try" placeholder="Address" style="color: white;" floating>Address</ion-label>
    <ion-input type="text" style="color:white"></ion-input>
  </ion-item> 
  
   <ion-item style="display:none;">
        <ion-input type="password" class="try" placeholder="Confirm Password"></ion-input>
  </ion-item>

</ion-list>       
    </div>

    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center">
        <button ion-button block color="fanger" style="border-radius: 13px 13px;width: 75%;" (click)="signUp();">REGISTER</button>
    </div>

</ion-content>
